@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200&display=swap');

/*---Colors*/

.bg-color-name-title {
    background-color: #f4a127;
}

.ui-menu-color-home {
    background-color: #75c8ae;
}

.ui-menu-color-gallery {
    background-color: #75c8ae;
}

.ui-menu-color-contact {
    background-color: #75c8ae;
} 

/*---Heading*/

header {
    margin: 0;
}

.heading {
    margin-left: 50px;
}

.logo {
    background: url("../images/image1.jpeg");
    
    background-repeat: no-repeat;
    background-size: cover;
    
   
    
}

.name {
    font-family: "Oswald", sans-serif;
    font-weight: 100;
    font-size: 46px;
    margin-top: 50px;
    color: #fff;
}

.title {
    font-family: "Oswald", sans-serif;
    font-weight: 200;
    font-size: 28px;
    margin-top: 20px;
    margin-bottom: 90px;
    color: #fff;
}
.list-inline-item:not(:last-child) {
    margin: 0;
}

.menucontainer {
    font-size: 0;
    margin-bottom: 0;
}

#nav li {
    font-family: "Oswald", sans-serif;
    font-size: 25px;
    padding: 0;
}

.menuitem {
    height: 120px;
    text-align: center;
    padding: 0;
}

.menuitem a {
    width: 100%;
    text-decoration: none;
    color: #fff;
    height: 120px;
}

.menuitem span {
    display: block;
    width: 100%;
    padding-top: 5px;
    text-align: center;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 2px;
}
/*---Footer*/

footer {
    padding: 30px;
    background-color: #75c8ae;
    }
    .socialmedia i {
        text-align: center;
    }

    

    .socialmedia i {
        font-size: 50px;
        margin: 1%;
        padding: 6%;
        color: #ffecb4;
}
/*---Contact*/

.contact-heading {
    font-family: "Oswald", sans-serif;
    font-weight: 300;
    margin-top: 25px;
    margin-bottom: 20px;
}

.center-form {
    padding-top: 10px;
    margin: 0 auto;
    max-width: 70%;
}

button[type="submit"] {
    margin-top: 15px;
    margin-bottom: 20px;
    color: #ffecb4;
    background-color: #75c8ae;
}
/*---Gallery*/

.row {
  display: flex;
  flex-wrap: wrap;
  
}


.column {
  flex: 25%;
  max-width: 33.3%;
  
  
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
  filter: grayscale(1) brightness(0.5);
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s linear;
}
.column img:hover {
  filter: grayscale(0);
}
@media screen and (max-width: 800px) {
  
    .column {
    
    flex: 50%;
    max-width: 50%;
  }
}


@media screen and (max-width: 600px) {
  .column {
    flex: 100%;
    max-width: 100%;
  }

  .column img {
    filter: grayscale(0) brightness(1);
  }
}

 /**Section*/

  .info {
      color: #000000;
      margin-top: 25px;
      margin-bottom: 25px;
      font-family: "Oswald", sans-serif;

  }