@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200&display=swap');

/*---Colors*/

.bg-color-name-title {
    background-color: #f4a127;
}

.ui-menu-color-home {
    background-color: #f4a127;
}

.ui-menu-color-gallery {
    background-color: #f4a127;
}

.ui-menu-color-contact {
    background-color: #f4a127;
}

/*---Heading*/

header {
    margin: 0;
}

.heading {
    margin-left: 50px;
}

.logo {
    background: url("../images/image1.jpeg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 360px;
    transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
}

.name {
    font-family: "Oswald", sans-serif;
    font-weight: 100;
    font-size: 46px;
    margin-top: 50px;
    color: #fff;
}

.title {
    font-family: "Oswald", sans-serif;
    font-weight: 200;
    font-size: 28px;
    margin-top: 20px;
    margin-bottom: 90px;
    color: #fff;
}
.list-inline-item:not(:last-child) {
    margin: 0;
}

.menucontainer {
    font-size: 0;
}

#nav li {
    font-size: 25px;
    padding: 0;
}

.menuitem {
    height: 120px;
    text-align: center;
    padding: 0;
}

.menuitem a {
    width: 100%;
    text-decoration: none;
    color: #fff;
    height: 120px;
}

.menuitem span {
    display: block;
    width: 100%;
    padding-top: 5px;
    text-align: center;
    text-transform: uppercase;
    font-size: but 14px;
    font-weight: 300;
    letter-spacing: 2px;
}
/*---Footer*/

footer {
    padding: 30px;
    background-color: #75c8ae;
    }
    .socialmedia i {
        text-align: center;
    }

    

    .socialmedia i {
        font-size: 50px;
        margin: 1%;
        padding: 6%;
        color: #ffecb4;
}